.bloop/
.metals/
target
todo
test_data
checkpoint
website/public/
website/static/api
_gen/
saddle-binary/
saddle-circe/
saddle-core/
spire-prng/
lamp-tabular/predicted.csv
.vscode/settings.json
project/project/metals.sbt
project/project/project/metals.sbt
example-arxiv/arxiv*
.bsp/sbt.json
